<!doctype HTML>
<html>

<head>
    <title>Finstagram</title>

    <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../public/stylesheets/lib.css">
    <link rel="stylesheet" href="../../public/stylesheets/app.css">

</head>

<body>
    Hello World from Justin!

    <header>
        <h1>Finstagram!</h1>
    </header>

    <main role="main">
        
        <article class="post">
            <div class="user-info">
                <a class="thumb" href="http://naserca.com/images/sharky_j.jpg">
                    <img class="thumbnail" src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                </a>
                <h2><a class="username" href="#">sharky_j</a></h2>
                <h3><a class="timeAgo" href="#">15 minutes ago</a></h3>
            </div>
            <a class="photo" href="#">
                <img src="http://naserca.com/images/shark.png" alt="post from sharky_j">
            </a>
            <div class="actions">
                <span class="likes">0 likes</span>
                <span class="comment-count">0 comments</span>
            </div>
            <ul class="comments">
                <li>
                    <p>
                        <span class="posterName">sharky_j</span>
                        <span class="bodyText">: Out for the long weekend... too embarrassed to show y'all the beach bod!</span>
                    </p>
                </li>
            </ul>
        </article>
        
        <article class="post">
            <div class="user-info">
                <a class="thumb" href="#">
                    <img class="thumbnail" src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">
                </a>
                <h2 class="username">kirk_whalum</h2>
                <h3 class="timeAgo">1 hour ago</h3>
            </div>
            <a class="photo" href="#">
                <img src="http://naserca.com/images/whale.jpg" alt="post from kirk_whalum">
            </a>
            <div class="actions">
                <span class="likes">0 likes</span>
                <span class="comment-count">0 comments</span>
            </div>
            <ul class="comments">
                <li>
                    <p>
                        <span class="posterName">kirk_whalum</span>
                        <span class="bodyText">: <span class="hashtag">#weekendvibes</span> </span>
                    </p>
                </li>
            </ul>
        </article>
        
        <article class="post">
            <div class="user-info">
                <a class="thumb" href="http://naserca.com/images/marlin_peppa.jpg">
                    <img class="thumbnail" src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                </a>
                <h2 class="username">marlin_peppa</h2>
                <h3 class="timeAgo">3 hours ago</h3>
            </div>
            <a class="photo" href="#">
                <img src="http://naserca.com/images/marlin.jpg" alt="post from marlin_peppa">
            </a>
            <div class="actions">
                <span class="likes">0 likes</span>
                <span class="comment-count">0 comments</span>
            </div>
            <ul class="comments">
                <li>
                    <p>
                        <span class="posterName">marlin_peppa</span>
                        <span class="bodyText">: lunchtime! ;)</span>
                    </p>
                </li>
            </ul>
        </article>
        
        <article class="post">
            <div class="user-info">
                <a class="thumb" href="http://naserca.com/images/marlin_peppa.jpg">
                    <img class="thumbnail" src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">
                </a>
                <h2 class="username">LuLuTheBear</h2>
                <h3 class="timeAgo">6 hours ago</h3>
            </div>
            <a class="photo" href="#">
                <img src="http://naserca.com/images/marlin.jpg" alt="post from marlin_peppa">
            </a>
            <div class="actions">
                <span class="likes">99 likes</span>
                <span class="comment-count">34 comments</span>
            </div>
            <ul class="comments">
                <li>
                    <p>
                        <span class="posterName">bapes</span>
                        <span class="bodyText">: boja! joba! ;)</span>
                    </p>
                </li>
            </ul>
        </article>
        
    </main>

</body>

</html>