<h2>Login</h2>

<ul class="errors">
  <% if @error_message %> 
      <% @error_message.each do |message| %>
        <li><%= message %></li>
      <% end %>
<% end %>
</ul>

<form action="/login" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="justin">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="huang">
  </div>
  <div class="form-group">
    <button class="button" type="submit">Login</button>
  </div>
</form>